/* Homepage CSS */
.logList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.addBtnContainer {
  justify-self: center;
  margin: 2em;
}
#addBtn {
  background-color: green;
  width: 85px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.low {
  color: red;
}
.medium {
  color: yellow;
}
.high {
  color: green;
}
.logDetail span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logDetail {
  background-color: #8da5cb;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  width: 450px;
  justify-self: center;
  padding: 10px;
  justify-content: space-between;
}
.logDetail button {
  margin-left: 13em;
  height: 35px;
  width: 60px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(243, 171, 248);
}
.logDetail h2 {
  text-decoration: underline;
  border: 1px;
}
